{{#layout}}
<div class="container-fluid" ng-controller="streamingCtrl">
    <div class="col-md-12 col-sm-12">
        <div class="text-center">
            <h2><span ng-bind="custom"></span> Live Streaming 목록</h2>
        </div>
        <div class="col-md-12 col-sm-12">
            <div ng-class="streamingAlertClass" role="alert" ng-bind="streamingAlertMsg" ng-show="streamingAlert"></div>
        </div>
        <br/>
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div>
                <form class="form-inline">
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="history()">장애로그기록</button>
                </form>
            </div>
            <table class="table table-bordered table-hover table-condensed" style="margin-top: 2%">
                <colgroup>
                    <col width="5%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Service Name</th>
                    <th class="text-center">Host Name</th>
                    <th class="text-center">Server Type</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">Stream Name</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Level</th>
                    <th class="text-center">Play</th>
                </tr>
                <tr ng-repeat="item in streamingList" ng-class="getBgColor(item.mon_level)">
                    <td class="text-center"><span ng-bind="$index+1"></span></td>
                    <td class="text-center"><span ng-bind="item.service"></span></td>
                    <td class="text-center"><span ng-bind="item.host_name"></span></td>
                    <td class="text-center"><span ng-bind="item.server_type"></span></td>
                    <td class="text-center"><span ng-bind="item.volume"></span></td>
                    <td class="text-center"><span ng-bind="item.stream_name"></span></td>
                    <td class="text-center"><span ng-bind="item.mon_status"></span></td>
                    <td class="text-center"><span ng-bind="item.mon_level"></span></td>
                    <td class="text-center">
                        <button class="btn btn-default btn-xs" ng-click="play(item)">Play</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <input type="hidden" id="customEncrypt" value="{{custom}}" />
</div>
<script type="text/javascript">
    app.controller("streamingCtrl", function ($scope, $http, $interval, $window, $uibModal) {
        // init
        $scope.init = function () {
            var custom = $("#customEncrypt").val();
            $scope.custom = decodeURIComponent($window.atob(custom));
            $scope.getStreamingList();
        }

        // 에러 메세지
        $scope.streamingAlertHandling = function (alertMsg, alertType) {
            $scope.streamingAlertClass = ["alert"];

            if(alertType == "success") {
                $scope.streamingAlertClass.push("alert-success");
            } else {
                $scope.streamingAlertClass.push("alert-danger");
            }

            $scope.streamingAlert = true;
            $scope.streamingAlertMsg = alertMsg;
        }

        // 목록
        $scope.getStreamingList = function () {
            $http({
                method: "POST",
                url: "/api/streaming",
                headers: {
                    "Content-Type": "application/json"
                },
                data: { "telcoGubun" : "KT", "custom" : $scope.custom }
            }).then(function success (res) {
                $scope.streamingList = res.data;
                $scope.streamingAlert = false;
            }, function error (error) {
                $scope.streamingAlertHandling("에러가 발생하였습니다", "danger");
            });
        }

        // init
        $scope.init();

        $scope.getBgColor = function (item) {
            var ret = "success";
            if(item == "Warning") {
                ret = "warning";
            } else if (item == "Error" || item == "Critical") {
                ret = "danger";
            }
            return ret;
        }

        $scope.history = function () {
            $window.open("/streaming/history","_blank");
        }

        // modal play
        $scope.play = function (item) {
            var playModalIns = $uibModal.open({
                templateUrl: "/streaming/modalPlay",
                controller: "playModalCtrl",
                resolve : {
                    item : function () {
                        return item;
                    }
                }
            });

            playModalIns.result.then(function () {});
        }

        // refresh
        $interval(function () { $scope.init(); }, 60*1000);
    });

    /**
     *  play
     */
    app.controller("playModalCtrl", function ($scope, $rootScope, $sce, $uibModalInstance, item) {
        // init
        $scope.init = function () {
            $scope.hostName = item.host_name;
            $scope.vol = item.volume;
            $scope.streamName = item.stream_name;
            $scope.streamUrl = "http://"+$scope.hostName+":1935/"+$scope.vol+"/"+$scope.streamName+"/playlist.m3u8";
        }
        $scope.init();

        $scope.ok = function () {
            $uibModalInstance.close();
        }

    });
</script>
{{/layout}}